.membership-desc {
    margin-bottom: 20px;
}

.membership-desc .sub {
    font-size: 16px;
    color: #444;
}

.access-list {
    margin-top: 12px;
    font-size: 16px;
}

.access-list p {
    margin: 5px 0;
    font-size: 16px;
}

.explore-text {
    margin-top: 12px;
    font-size: 14px;
    color: #555;
}

@media (min-width: 768px) {
    .membership-desc .sub {
        font-size: 16px;
    }

    .access-list,
    .explore-text {
        font-size: 16px;
    }
}